/F08/t551_appended.csv
/F08/t551_for_analysis.csv
/F08/basal_area_plot_info.csv
/F04/FF_20220829_1700.csv
/F04/FF_20220829_1700_CSV_notes.docx
/F04/f04_fragmentation_by_bioregion_2022.jpg
/F04/f04_fragmentation_by_bioregion_2022.png
/F04/table_plot_data.csv
/F04/f04_plot_data.csv
/F04/.ipynb_checkpoints/
/F04/f04_fragmentation_by_bioregion_2022.csv
/F08/t551_for_kriging_method.csv
/F04/f04_table9_local_area_only.csv
/F04/f04_table8.csv
/F04/f04_table7.csv
/F04/f04_table9_local_area_in_HA_only.csv
/F08/relative_errors_by_bioregion.csv
/F08/t551_for_kriging_method.csv
/F08/t551_zero_entries.csv
/F08/F08_18_DEAD_TO_TOTAL_BASAL_AREA_PCT.jpg
